version: "2"
services:
  web:
    build:
      context: ./docker/nginx
    ports:
      - 80:80
    links:
      - fpm
    volumes_from:
      - appdata
    env_file:
      - ./global.env

  fpm:
    hostname: fpm.labelin.docker
    build:
      context: ./docker/7.3-fpm
    ports:
      - 9000
    volumes_from:
      - appdata
    env_file:
      - ./global.env

  cli:
    hostname: cli.labelin.docker
    build:
      context: ./docker/7.3-cli
    volumes:
      - ~/.composer/cache:/root/.composer/cache
    volumes_from:
      - appdata
    env_file:
      - ./global.env
      - ./composer.env
    environment:
        - M2SETUP_VERSION=2.3.5-p1

  cron:
    image: labelin/7.3-cli
    hostname: magento2-cron.docker
    command: run-cron
    env_file:
      - ./global.env
    volumes_from:
      - appdata
    links:
      - db

  appdata:
    image: tianon/true
    volumes:
      - ./labelin:/var/www/magento